/* Eliza Knight
   Spring 2023 */
* 
{
    margin: 0;
    padding: 0;
}
.navbar-brand{

    color: black !important;
    padding: 5px !important;
    font-size: 25px   !important;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif !important;
}
.nav-item{

    color: black !important;
    padding: 5px !important;
    font-size: 20px   !important;
    font-family: 'Roboto', sans-serif !important;
}
.form-label
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}